<beans profile = "heroku">
    <context:property-placeholder location="classpath:/db/heroku.properties"/>
      <bean class = "java.net.URI" id = "dbUrl">
          <constructor-arg value="${DATABASE_URL}"/>
      </bean>
    <bean id="dataSource"
          class="org.apache.tomcat.jdbc.pool.DataSource">
        <property name="url" value="#{ 'jdbc:postgresql://' + @dbUrl.getHost() + ':' + @dbUrl.getPort() + @dbUrl.getPath() }"/>
        <property name="username" value="#{ @dbUrl.getUserInfo().split(':')[0] }"/>
        <property name="password" value="#{ @dbUrl.getUserInfo().split(':')[1] }"/>
        <property name = "driverClassName" value = "org.postgresql.Driver"/>
    </bean>

</beans>